.elementor-718 .elementor-element.elementor-element-372ef2a3 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 100px 0 80px
}

.elementor-718 .elementor-element.elementor-element-25af015a {
    text-align: center
}

.elementor-718 .elementor-element.elementor-element-28cb66fb .prt-heading-subheading {
    text-align: center
}

.elementor-718 .elementor-element.elementor-element-28cb66fb>.elementor-widget-container {
    margin: -30px 0 0
}

.elementor-718 .elementor-element.elementor-element-31a03c4d {
    margin-top: 31px;
    margin-bottom: 0
}

.elementor-718 .elementor-element.elementor-element-180bb53a>.elementor-element-populated {
    margin: 0 15px 0 0;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 0px;
    padding: 0
}

.elementor-718 .elementor-element.elementor-element-18cc796a>.elementor-element-populated {
    margin: 0 15px;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 15px;
    padding: 0
}

.elementor-718 .elementor-element.elementor-element-581fc77d>.elementor-element-populated {
    margin: 0 0 0 15px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 15px
}

.elementor-718 .elementor-element.elementor-element-133681d1 {
    margin-top: 30px;
    margin-bottom: 0
}

.elementor-718 .elementor-element.elementor-element-17d9c116 {
    text-align: center
}

.elementor-718 .elementor-element.elementor-element-3064cbb8>.elementor-background-overlay {
    background-image: url("../../../../uploads/2022/11/row-img-03.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1
}

.elementor-718 .elementor-element.elementor-element-3064cbb8 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 80px 0
}

.elementor-718 .elementor-element.elementor-element-6135f24 .tm-heading-subheading {
    text-align: center
}

.elementor-718 .elementor-element.elementor-element-38c43ce8 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 100px 0 110px
}

.elementor-718 .elementor-element.elementor-element-d87e185>.elementor-element-populated {
    padding: 60px 0 0
}

.elementor-718 .elementor-element.elementor-element-3999a6aa .prt-heading-subheading {
    text-align: left
}

.elementor-718 .elementor-element.elementor-element-6554639e>.elementor-element-populated {
    margin: 0 15px;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 15px;
    padding: 0
}

.elementor-718 .elementor-element.elementor-element-3685c5e>.elementor-element-populated {
    margin: 0 0 0 15px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 15px
}

.elementor-718 .elementor-element.elementor-element-317594e6 {
    margin-top: 50px;
    margin-bottom: 0
}

.elementor-718 .elementor-element.elementor-element-3d5998f9>.elementor-element-populated {
    margin: 0 15px 0 0;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 0px
}

.elementor-718 .elementor-element.elementor-element-240d4c2b>.elementor-element-populated {
    margin: 0 15px;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 15px
}

.elementor-718 .elementor-element.elementor-element-219f30fd>.elementor-element-populated {
    margin: 0 15px;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 15px
}

.elementor-718 .elementor-element.elementor-element-9959e32>.elementor-element-populated {
    border-style: solid;
    border-width: 1px;
    border-color: #097ae9;
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    margin: 0 0 0 15px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 15px;
    padding: 49px 30px 40px
}

.elementor-718 .elementor-element.elementor-element-9959e32>.elementor-element-populated,
.elementor-718 .elementor-element.elementor-element-9959e32>.elementor-element-populated>.elementor-background-overlay,
.elementor-718 .elementor-element.elementor-element-9959e32>.elementor-background-slideshow {
    border-radius: 8px
}

.elementor-718 .elementor-element.elementor-element-9959e32>.elementor-element-populated>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-718 .elementor-element.elementor-element-1b86d1f0.elementor-position-right .elementor-image-box-img {
    margin-left: 12px
}

.elementor-718 .elementor-element.elementor-element-1b86d1f0.elementor-position-left .elementor-image-box-img {
    margin-right: 12px
}

.elementor-718 .elementor-element.elementor-element-1b86d1f0.elementor-position-top .elementor-image-box-img {
    margin-bottom: 12px
}

.elementor-718 .elementor-element.elementor-element-1b86d1f0 .elementor-image-box-img img {
    transition-duration: .3s
}

.elementor-718 .elementor-element.elementor-element-1b86d1f0 .elementor-image-box-title {
    margin-bottom: 0;
    color: #6ec1e4;
    font-family: "Caveat", Sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px
}

.elementor-718 .elementor-element.elementor-element-1b86d1f0 .elementor-image-box-description {
    color: #7a7a7a;
    font-family: "Roboto", Sans-serif;
    font-weight: 400
}

.elementor-718 .elementor-element.elementor-element-3d4afd60 {
    text-align: center
}

.elementor-718 .elementor-element.elementor-element-3d4afd60 .elementor-heading-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 34px
}

.elementor-718 .elementor-element.elementor-element-657ed3ea {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0
}

.elementor-718 .elementor-element.elementor-element-515303fd:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-718 .elementor-element.elementor-element-515303fd>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../../../uploads/2022/11/column-shape.png");
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover
}

.elementor-718 .elementor-element.elementor-element-515303fd>.elementor-element-populated>.elementor-background-overlay {
    background-image: url("../../../../uploads/2022/11/column-shape.png");
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1
}

.elementor-718 .elementor-element.elementor-element-515303fd>.elementor-element-populated {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0
}

.elementor-718 .elementor-element.elementor-element-515303fd>.elementor-element-populated>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-718 .elementor-element.elementor-element-5984393>.elementor-element-populated {
    padding: 155px 0 150px
}

.elementor-718 .elementor-element.elementor-element-451ec62c {
    text-align: center;
    z-index: 99
}

.elementor-718 .elementor-element.elementor-element-451ec62c .elementor-heading-title {
    font-size: 118px;
    line-height: 128px
}

.elementor-718 .elementor-element.elementor-element-20a89c23 {
    text-align: center;
    z-index: 99
}

.elementor-718 .elementor-element.elementor-element-20a89c23 .elementor-heading-title {
    font-size: 52px;
    font-weight: 600;
    line-height: 60px
}

.elementor-718 .elementor-element.elementor-element-9a0dffd>.elementor-widget-container {
    margin: 15px 0 0
}

.elementor-718 .elementor-element.elementor-element-7aadb866:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-718 .elementor-element.elementor-element-7aadb866>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../../../uploads/2022/11/column-img-01.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.elementor-718 .elementor-element.elementor-element-7aadb866>.elementor-element-populated>.elementor-background-overlay {
    opacity: .5
}

.elementor-718 .elementor-element.elementor-element-7aadb866>.elementor-element-populated {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s
}

.elementor-718 .elementor-element.elementor-element-7aadb866>.elementor-element-populated>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-718 .elementor-element.elementor-element-2d80fd6a {
    --spacer-size: 50px
}

.elementor-718 .elementor-element.elementor-element-2508f966>.elementor-element-populated {
    margin: 0 -7px 0 7px;
    --e-column-margin-right: -7px;
    --e-column-margin-left: 7px;
    padding: 95px 0 62px 70px
}

.elementor-718 .elementor-element.elementor-element-43cb586e .prt-heading-subheading {
    text-align: left
}

.elementor-718 .elementor-element.elementor-element-59643288 .elementor-accordion-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px
}

.elementor-718 .elementor-element.elementor-element-59643288 .elementor-tab-title {
    padding: 0 0 15px
}

.elementor-718 .elementor-element.elementor-element-59643288 .elementor-tab-title .elementor-accordion-icon i:before {
    color: #000
}

.elementor-718 .elementor-element.elementor-element-59643288 .elementor-tab-title .elementor-accordion-icon svg {
    fill: #000
}

.elementor-718 .elementor-element.elementor-element-59643288 .elementor-accordion-icon.elementor-accordion-icon-left {
    margin-right: 0
}

.elementor-718 .elementor-element.elementor-element-59643288 .elementor-accordion-icon.elementor-accordion-icon-right {
    margin-left: 0
}

.elementor-718 .elementor-element.elementor-element-59643288 .elementor-tab-content {
    padding: 0 0 15px
}

.elementor-718 .elementor-element.elementor-element-59643288>.elementor-widget-container {
    margin: -15px 0 0;
    padding: 0 70px 0 0
}

.elementor-718 .elementor-element.elementor-element-2e07f85b {
    margin-top: 0;
    margin-bottom: 0;
    padding: 100px 0 0
}

.elementor-718 .elementor-element.elementor-element-2afdaee0>.elementor-element-populated {
    padding: 0
}

.elementor-718 .elementor-element.elementor-element-11cc12b8,
.elementor-718 .elementor-element.elementor-element-11cc12b8>.elementor-background-overlay {
    border-radius: 8px
}

.elementor-718 .elementor-element.elementor-element-11cc12b8 {
    box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, .05);
    margin-top: -100px;
    margin-bottom: -100px;
    padding: 75px 75px 80px;
    z-index: 9999
}

.elementor-718 .elementor-element.elementor-element-3a29037c>.elementor-element-populated {
    border-style: solid;
    border-width: 0 1px 0 0;
    border-color: #CCCCCC66;
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 78px 70px 0 0
}

.elementor-718 .elementor-element.elementor-element-3a29037c>.elementor-element-populated>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-718 .elementor-element.elementor-element-aea1c52 {
    text-align: center;
    top: -10px
}

.elementor-718 .elementor-element.elementor-element-aea1c52 .elementor-heading-title {
    font-size: 15px;
    font-weight: 700;
    line-height: 25px
}

.elementor-718 .elementor-element.elementor-element-aea1c52>.elementor-widget-container {
    margin: 0
}

body:not(.rtl) .elementor-718 .elementor-element.elementor-element-aea1c52 {
    left: -388px
}

body.rtl .elementor-718 .elementor-element.elementor-element-aea1c52 {
    right: -388px
}

.elementor-718 .elementor-element.elementor-element-0cabe3a .prt-heading-subheading {
    text-align: left
}

.elementor-718 .elementor-element.elementor-element-48d3f580.elementor-view-stacked .elementor-icon {
    background-color: #097ae9
}

.elementor-718 .elementor-element.elementor-element-48d3f580.elementor-view-framed .elementor-icon,
.elementor-718 .elementor-element.elementor-element-48d3f580.elementor-view-default .elementor-icon {
    fill: #097ae9;
    color: #097ae9;
    border-color: #097ae9
}

.elementor-718 .elementor-element.elementor-element-48d3f580 {
    --icon-box-icon-margin: 15px
}

.elementor-718 .elementor-element.elementor-element-48d3f580 .elementor-icon-box-wrapper {
    text-align: left
}

.elementor-718 .elementor-element.elementor-element-36501864>.elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0 0 0 70px
}

.elementor-718 .elementor-element.elementor-element-7ebdff3d .elementor-heading-title {
    font-size: 24px;
    line-height: 34px
}

.elementor-718 .elementor-element.elementor-element-42aadb8b>.elementor-background-overlay {
    background-image: url("../../../../uploads/2022/12/test-bg.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1
}

.elementor-718 .elementor-element.elementor-element-42aadb8b {
    margin-top: 0;
    margin-bottom: 0;
    padding: 195px 0 40px;
    z-index: 0
}

.elementor-718 .elementor-element.elementor-element-1165b216>.elementor-element-populated {
    padding: 0
}

.elementor-718 .elementor-element.elementor-element-660cccb5 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 80px
}

.elementor-718 .elementor-element.elementor-element-5a845e7d .prt-heading-subheading {
    text-align: center
}

.elementor-718 .elementor-element.elementor-element-7f00e210 {
    margin-top: 30px;
    margin-bottom: 0;
    padding: 10px 0 0
}

.elementor-718 .elementor-element.elementor-element-ce98908 .prt-heading-subheading {
    text-align: left
}

.elementor-718 .elementor-element.elementor-element-70acb8fa {
    padding: 100px 0 0
}

.elementor-718 .elementor-element.elementor-element-2759c248>.elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0
}

.elementor-718 .elementor-element.elementor-element-38bd549f {
    border-style: solid;
    border-width: 1px;
    border-color: #FFFFFF33;
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    margin-top: 0;
    margin-bottom: 0;
    padding: 65px 82px 45px
}

.elementor-718 .elementor-element.elementor-element-38bd549f,
.elementor-718 .elementor-element.elementor-element-38bd549f>.elementor-background-overlay {
    border-radius: 8px
}

.elementor-718 .elementor-element.elementor-element-38bd549f>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-718 .elementor-element.elementor-element-30333328 .prt-heading-subheading {
    text-align: left
}

.elementor-718 .elementor-element.elementor-element-719be63a .elementor-icon-wrapper {
    text-align: right
}

.elementor-718 .elementor-element.elementor-element-719be63a.elementor-view-stacked .elementor-icon {
    background-color: #fff
}

.elementor-718 .elementor-element.elementor-element-719be63a.elementor-view-framed .elementor-icon,
.elementor-718 .elementor-element.elementor-element-719be63a.elementor-view-default .elementor-icon {
    color: #fff;
    border-color: #fff
}

.elementor-718 .elementor-element.elementor-element-719be63a.elementor-view-framed .elementor-icon,
.elementor-718 .elementor-element.elementor-element-719be63a.elementor-view-default .elementor-icon svg {
    fill: #fff
}

.elementor-718 .elementor-element.elementor-element-719be63a.elementor-view-stacked .elementor-icon:hover {
    background-color: #097ae9
}

.elementor-718 .elementor-element.elementor-element-719be63a.elementor-view-framed .elementor-icon:hover,
.elementor-718 .elementor-element.elementor-element-719be63a.elementor-view-default .elementor-icon:hover {
    color: #097ae9;
    border-color: #097ae9
}

.elementor-718 .elementor-element.elementor-element-719be63a.elementor-view-framed .elementor-icon:hover,
.elementor-718 .elementor-element.elementor-element-719be63a.elementor-view-default .elementor-icon:hover svg {
    fill: #097ae9
}

.elementor-718 .elementor-element.elementor-element-719be63a .elementor-icon {
    font-size: 60px
}

@media(min-width:768px) {
    .elementor-718 .elementor-element.elementor-element-515303fd {
        width: 28.3%
    }

    .elementor-718 .elementor-element.elementor-element-7aadb866 {
        width: 33.5%
    }

    .elementor-718 .elementor-element.elementor-element-2508f966 {
        width: 37.866%
    }

    .elementor-718 .elementor-element.elementor-element-7169dfbb {
        width: 81.834%
    }

    .elementor-718 .elementor-element.elementor-element-59fef001 {
        width: 18.123%
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-718 .elementor-element.elementor-element-d87e185 {
        width: 100%
    }

    .elementor-718 .elementor-element.elementor-element-6554639e {
        width: 50%
    }

    .elementor-718 .elementor-element.elementor-element-3685c5e {
        width: 50%
    }

    .elementor-718 .elementor-element.elementor-element-3d5998f9 {
        width: 50%
    }

    .elementor-718 .elementor-element.elementor-element-240d4c2b {
        width: 50%
    }

    .elementor-718 .elementor-element.elementor-element-219f30fd {
        width: 50%
    }

    .elementor-718 .elementor-element.elementor-element-9959e32 {
        width: 50%
    }
}

@media(max-width:1024px) {
    .elementor-718 .elementor-element.elementor-element-372ef2a3 {
        margin-top: 0;
        margin-bottom: 0;
        padding: 50px 0
    }

    .elementor-718 .elementor-element.elementor-element-180bb53a>.elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0
    }

    .elementor-718 .elementor-element.elementor-element-18cc796a>.elementor-element-populated {
        margin: 15px 0 0;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0
    }

    .elementor-718 .elementor-element.elementor-element-581fc77d>.elementor-element-populated {
        margin: 15px 0 0;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0
    }

    .elementor-718 .elementor-element.elementor-element-3064cbb8 {
        padding: 50px 0
    }

    .elementor-718 .elementor-element.elementor-element-38c43ce8 {
        margin-top: 0;
        margin-bottom: 0;
        padding: 50px 0
    }

    .elementor-718 .elementor-element.elementor-element-d87e185>.elementor-element-populated {
        padding: 0
    }

    .elementor-718 .elementor-element.elementor-element-3999a6aa>.elementor-widget-container {
        padding: 0 0 20px
    }

    .elementor-718 .elementor-element.elementor-element-6554639e>.elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0
    }

    .elementor-718 .elementor-element.elementor-element-3685c5e>.elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0
    }

    .elementor-718 .elementor-element.elementor-element-317594e6 {
        margin-top: 0;
        margin-bottom: 0;
        padding: 50px 0 0
    }

    .elementor-718 .elementor-element.elementor-element-3d5998f9>.elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px
    }

    .elementor-718 .elementor-element.elementor-element-240d4c2b>.elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0
    }

    .elementor-718 .elementor-element.elementor-element-219f30fd>.elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 50px 0 0
    }

    .elementor-718 .elementor-element.elementor-element-9959e32>.elementor-element-populated {
        margin: 50px 15px 0;
        --e-column-margin-right: 15px;
        --e-column-margin-left: 15px
    }

    .elementor-718 .elementor-element.elementor-element-1b86d1f0 .elementor-image-box-wrapper {
        text-align: center
    }

    .elementor-718 .elementor-element.elementor-element-657ed3ea {
        margin-top: 0;
        margin-bottom: 0;
        padding: 0 0 50px
    }

    .elementor-718 .elementor-element.elementor-element-515303fd>.elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 45px 0 50px
    }

    .elementor-718 .elementor-element.elementor-element-5984393>.elementor-element-populated {
        padding: 0
    }

    .elementor-718 .elementor-element.elementor-element-451ec62c .elementor-heading-title {
        font-size: 90px;
        line-height: 100px
    }

    .elementor-718 .elementor-element.elementor-element-20a89c23 .elementor-heading-title {
        font-size: 40px;
        line-height: 50px
    }

    .elementor-718 .elementor-element.elementor-element-2d80fd6a {
        --spacer-size: 350px
    }

    .elementor-718 .elementor-element.elementor-element-2508f966>.elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 50px 0 20px
    }

    .elementor-718 .elementor-element.elementor-element-59643288>.elementor-widget-container {
        margin: 0;
        padding: 0
    }

    .elementor-718 .elementor-element.elementor-element-2e07f85b {
        margin-top: 0;
        margin-bottom: 0;
        padding: 50px 0
    }

    .elementor-718 .elementor-element.elementor-element-11cc12b8 {
        margin-top: -80px;
        margin-bottom: 0;
        padding: 60px 40px 0
    }

    .elementor-718 .elementor-element.elementor-element-3a29037c>.elementor-element-populated {
        border-width: 0
    }

    body:not(.rtl) .elementor-718 .elementor-element.elementor-element-aea1c52 {
        left: -40%
    }

    body.rtl .elementor-718 .elementor-element.elementor-element-aea1c52 {
        right: -40%
    }

    .elementor-718 .elementor-element.elementor-element-aea1c52 {
        top: -25px
    }

    .elementor-718 .elementor-element.elementor-element-36501864>.elementor-element-populated {
        padding: 20px 0 40px
    }

    .elementor-718 .elementor-element.elementor-element-42aadb8b {
        margin-top: 0;
        margin-bottom: 0;
        padding: 50px 0
    }

    .elementor-718 .elementor-element.elementor-element-1165b216>.elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0
    }

    .elementor-718 .elementor-element.elementor-element-660cccb5 {
        margin-top: 0;
        margin-bottom: 0;
        padding: 0
    }

    .elementor-718 .elementor-element.elementor-element-70acb8fa {
        margin-top: 0;
        margin-bottom: 0;
        padding: 0
    }

    .elementor-718 .elementor-element.elementor-element-2759c248>.elementor-element-populated {
        padding: 40px 0
    }

    .elementor-718 .elementor-element.elementor-element-38bd549f {
        padding: 15px
    }

    .elementor-718 .elementor-element.elementor-element-59fef001>.elementor-element-populated {
        padding: 15px 0 0
    }

    .elementor-718 .elementor-element.elementor-element-719be63a .elementor-icon-wrapper {
        text-align: right
    }
}

@media(max-width:767px) {
    .elementor-718 .elementor-element.elementor-element-3685c5e>.elementor-element-populated {
        padding: 50px 0 0
    }

    .elementor-718 .elementor-element.elementor-element-240d4c2b>.elementor-element-populated {
        padding: 50px 0 0
    }

    .elementor-718 .elementor-element.elementor-element-1b86d1f0 .elementor-image-box-img {
        margin-bottom: 12px
    }

    .elementor-718 .elementor-element.elementor-element-59643288>.elementor-widget-container {
        margin: -20px 0 0
    }

    .elementor-718 .elementor-element.elementor-element-11cc12b8 {
        padding: 60px 20px 0
    }

    .elementor-718 .elementor-element.elementor-element-5a845e7d .prt-element-content-heading {
        font-size: 34px;
        line-height: 44px
    }

    .elementor-718 .elementor-element.elementor-element-2759c248>.elementor-element-populated {
        padding: 50px 0 5px
    }

    .elementor-718 .elementor-element.elementor-element-719be63a .elementor-icon-wrapper {
        text-align: left
    }

    .elementor-718 .elementor-element.elementor-element-719be63a .elementor-icon {
        font-size: 40px
    }
}